.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  padding: 0 2rem;
}
.products-container {
  margin: 30px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media (max-width: 567px) {
  .shop-container {
    grid-template-columns: 1fr;
    padding: 1.5rem;
  }
  .products-container {
    grid-template-columns: 1fr;
    gap: 0px;
  }
}
